<h1 class="page-header heading-types">Login</h1>

<div class="row">
  <div class="col-12 col-sm-4 col-lg-4 right side-area">
    <div *ngIf="errorString" class="error-string text-center">
      {{errorString}}
    </div>

    <form [formGroup]="form" autocomplete="off" novalidate>

      <md-input-container class="stretched">
        <input mdInput type="email" placeholder="Email" formControlName="email">
      </md-input-container>

      <md-input-container class="stretched">
        <input mdInput type="password" placeholder="Password" formControlName="pass">
      </md-input-container>

      <button md-button
              class="btn main-btn pull-right"
              [disabled]=""
              (click)="login()"> Login
      </button>

    </form>

    <!--<button (click)="loginFb()" class="btn btn-default">-->
      <!--<img width="20px" src="../../assets/images/svg/facebook.svg">-->
      <!--Login with Facebook-->
    <!--</button>-->

  </div>

  <div class="col-12 col-sm-8 col-lg-8 main-login">
    <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i> <br/>
    You currently not logged onto the application <br/>
    if you don't have user account click <a routerLink="/register"> here </a>  to register
  </div>
</div>
