<h1 class="page-header heading-types">Contacts</h1>

<div class="row">
  <div class="col-12 col-sm-4 col-lg-4 right side-area">

    <md-input-container class="stretched">
      <input class="text-capitalize"
             mdInput placeholder="Search Contacts" type="search"
             (keyup)="search(input.value)"
             #input>
    </md-input-container>

  </div>

  <div class="col-12 col-sm-8 col-lg-8 main-contact">
    <contact-list *ngIf="contactListStatus" [contacts]="filteredContacts" ></contact-list>
  </div>
</div>
