<h1 class="page-header heading-types">Contacts</h1>

<div class="row">
  <div class="col-12 col-sm-4 col-lg-4 right side-area">

    <md-input-container class="stretched">
      <input mdInput placeholder="Search" type="search" [(ngModel)]="term">
    </md-input-container>

    <ul class="list-group">
      <li *ngFor="let contact of allContacts | customSearch:term"
          class="list-group-item">
        <strong>{{contact.name}} {{contact.surname}}</strong>
            <br/> {{contact.position}} at {{contact.company}}
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                + Tags
              </button>
              <div class="dropdown-menu padding">
                <tag-on-contact [tagId]="contact.$key"></tag-on-contact>
              </div>
            </div>
      </li>
    </ul>


  </div>

  <div class="col-12 col-sm-8 col-lg-8 main-login text-center" *ngIf="!term">
    <i class="fa fa-info-circle fa-2x" aria-hidden="true"></i> <br/>
    Search contact by typing name, company or simply input <a href=""> # </a> to retrieve all <br/>
    Clicking on a tag will display more details of contact
  </div>


</div>
