<!--<p>-->
<!--ID : {{tagId}}-->
<!--</p>-->
<p-growl [(value)]="msgs" sticky="true"></p-growl>
<on-contact-add-tag [tagId]="tagId"></on-contact-add-tag>

<div *ngIf="tagsOnContact" class="tag-container">
  <small class="tag-controls pull-right">
    <i (click)="edit()" class="edit {{editEnabled}}">Edit </i> /
    <i class="delete {{editEnabled}}" (click)="delete()">Delete</i>
  </small><br/>
  <span *ngFor="let tag of tagsOnContact" class="class-tag {{tag}}">
    <p-checkbox [disabled]="editEnabled"  name="tags" value="{{tag.$key}}" [(ngModel)]="checked" (ngModelChange)="tagOut($event,tag.$key, tag.contactId)"></p-checkbox>
    {{ tag.description }}
  </span>
</div>

<!--(click)="removeTag(tag)" class="class-tag-->
<!--<ul *ngIf="tagsOnContact" class="list-group">-->
  <!--<li *ngFor="let tags of tagsOnContact "-->
      <!--class="list-group-item">-->
    <!--{{tags.description}}-->
  <!--</li>-->
<!--</ul>-->
