<!--<h1 class="page-header heading-types">Contacts Details</h1>-->

<div class="row">
  <div class="col-12 col-sm-4 col-lg-4 right side-area text-center">
    <img class="img-circle bg-circle" width="180px" src="../../assets/images/duh-log.png">
    <h4>{{ (contact$ | async)?.name}} {{ (contact$ | async)?.surname}}</h4>
    <span>{{ (contact$ | async)?.position}}</span>

    <hr/>
    <div class="project-screen">

      <new-tag></new-tag>

      <tags-list [tags]="tags$  | async"
                 class="tag-container">
      </tags-list>
    </div>
  </div>

  <div class="col-12 col-sm-8 col-lg-8 main-contact-details">
    <div class="controls">
      <div class="btn-group">
        <button type="button" class="btn btn-primary" routerLink="/contacts">Back</button>
        <button type="button" class="btn btn-primary">Edit</button>
        <button type="button" class="btn btn-primary">Remove</button>
      </div>
    </div>


    <ul class="list-group">
      <li class="list-group-item"><span>Name</span> {{ (contact$ | async)?.name}}</li>
      <li class="list-group-item"><span>Surname</span> {{ (contact$ | async)?.surname}}</li>
      <li class="list-group-item"><span>Position</span> {{ (contact$ | async)?.position}}</li>
      <li class="list-group-item"><span>Company</span> {{ (contact$ | async)?.company}}</li>
      <li class="list-group-item"><span>email</span> {{ (contact$ | async)?.email}}</li>
      <li class="list-group-item"><span>linked In</span> {{ (contact$ | async)?.linkedIn}}</li>
      <li class="list-group-item"><span>Contact</span> {{ (contact$ | async)?.phone}}</li>
    </ul>
  </div>
</div>

