<h1 class="page-header heading-types">Welcome</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center home-banner">
    <img width="120px" src="../../assets/images/duh-log.png">
    <h3 class="brand-blue font-xxl">Lookup Developer’s Contacts,<br/> and
      <span class="stand-out">#TAG</span> Dev Skill </h3>
  </div>
  <div class="col-md-6 col-md-offset-3 project-screen">


    <md-input-container>
      <input class="text-uppercase" mdInput placeholder="Search Tags" type="search" (keyup)="search(input.value)" #input>
    </md-input-container>

    <span class="circle-info pull-right">{{allTags?.length}}</span>

    <tags-list [tags]="filteredTags" class="tag-container"></tags-list>
  </div>
</div>



