<h1 class="page-header heading-types">Welcome</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center home-banner">
    <img width="144px" src="../../assets/images/duh-log.png">
    <h3 class="brand-blue font-xxl">Lookup Developer’s Contacts,<br/> and
      <span class="stand-out">#TAG</span> Dev Skill </h3>
  </div>
</div>
<!--Number of Tags {{allTags?.length}}-->

<!--<input class="search-bar" placeholder="Search" (keyup)="search(input.value)" #input />-->
<!--<tags-list [tags]="filteredTags"></tags-list>-->
