
.list-tag-edits {
  .tag-container {
    display: block;
    overflow: hidden;
    background: #efefef;
    padding: 10px;
    clear: both;
  }

  span.class-tag {
    display: block;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 3px 6px;
    border-radius: 4px;
    .fa {
      display: none;
      color: red;
    }
    &:hover {
      background: #1E8FE1;
      color: white;
      border: 1px solid #cccccc;
      .fa {
        display: inline-block;
      }
    }
  }
}

.list-tag-only {

  .fa, form, p-checkbox, input {
    display: none !important;
  }

  .tag-controls {
    display: none !important;
  }

  .class-tag:before {
    content: '#';
    color: #CCC;
  }

  .class-tag {
    color: #CCC;
  }
}

.edit {
  cursor: pointer;
  .false {
    color: red;
    font-weight: bold;
    cursor: pointer;
  }
}

.edit:hover, .delete.false:hover {
  color: red;
}

.delete.false:hover {
  cursor: pointer;
}

.listing-block {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  color: #333333;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}



