
.list-tag-edits {
  .tag-container {
    display: block;
    overflow: hidden;
    background: #efefef;
    padding: 10px;
    clear: both;
  }

  span.class-tag {
    cursor: pointer;
    border: 1px solid transparent;
    padding: 3px 6px;
    border-radius: 4px;
    .fa {
      display: none;
      color: red;
    }
    &:hover {
      background: #1E8FE1;
      color: white;
      border: 1px solid #cccccc;
      .fa {
        display: inline-block;
      }
    }
  }
}


.list-tag-only {
  .fa, form {
    display: none !important;
  }

  .class-tag:before {
    content: '#';
    color: #CCC;
  }

  .class-tag{
    color: #CCC;
  }
}
