$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$blue-bg: #1E8FE1;
$dark-black-bg: #1f2532;
$brand-font:  "brandon-grotesque",sans-serif;


@import "./partials/_top-nav.scss";
@import "./partials/_content-area.scss";
@import "./partials/_tags.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "../bootstrap/custom.scss";

// Generic styles
body {
  color: $primary-color;
}

.btn-blu {
  background: $blue-bg;
  color: white;
}

.ui-growl-item{
  margin-top: 40px;
}

.ui-growl .ui-growl-message-info {
  background-color: #0275d8;
  color: white;
  text-align: left;
}

.controls {
  margin-bottom: 15px;
}

.page-header {
  position: fixed;
  z-index: 9999;
  top: 0;
  margin: 0 !important;
  padding-top: 14px;
  border: none;
  font-size: 22px;
  color: white;
}

.mat-button {
  color: white !important;
}

.brand-blue {
  font-family: $brand-font;
  color:$dark-black-bg
}

.main-btn, .sec-btn {
  margin-top: 8px;
  font-weight: 700;
  font-size: 10px;
  background: $blue-bg;
  color: #fff;
  display: inline-block;
}

.list-group span {
  clear: both;
  display: block;
  color: gray;
  font-size: x-small;
}

.sec-btn{
  background: transparent !important;
}

h3{
  font-size: xx-large;
}

.stand-out{
  font-family: "Arial Black";
  text-decoration: underline;
  color: $blue-bg;
}

.stretched {
  display: block;
  width: 100%;
}

.home-banner{
  padding-top: 60px;
}

#Black_bar {
  z-index: 8999 !important;
  background: #1f2532;
  box-shadow: 0 -2px 9px rgba(31, 37, 50, .15);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-drag: none
}

.site-margin-setting {
  margin-top: 70px;
  display: block;
}

.error-string{
  color: red;
}
